.site-footer__footer,
.site-footer__header {
	padding-top: 10px;
	padding-bottom: 10px;
}

.site-footer__footer-link,
.site-footer__footer-link:hover {
	color: #fff;
}

.site-footer__header-title,
.newsletter__title,
.social-icons__title {
	color: #07a959;
}

.light-white {
	color: rgba(255, 255, 255, .8);
}

.social-icons__icon::before,
.newsletter__submit::before,
.search-box__submit::before {
	display: block;
	text-align: center;
	background-color: #07a959;
	color: #fff;
	font-size: 2rem;
}

.social-icons__icon::before {
	width: 40px;
	height: 40px;
	line-height: 40px;
}

.newsletter__submit::before,
.search-box__submit::before {
	width: 40px;
	height: 40px;
	line-height: 40px;
}

.newsletter,
.social-icons {
	text-align: right;
}

.newsletter__email,
.search-box__search-field {
	max-width: 290px;
	height: 46px;
}

.newsletter__form {
	position: relative;
	float: right;
	max-width: 290px;
	width: 100%;
}

.newsletter__submit,
.search-box__submit {
	position: absolute;
	right: 3px;
	top: 3px;
}

.newsletter {
	margin-top: 30px;
}