/*=================
	Site header
=================*/
.site-header {
	position: relative;
}

.site-header__top {
	padding-bottom: 5px;
}

/*=================
	Site header links
=================*/
.site-header__links {
	padding: 0;
	position: relative;
	z-index: 1000;
}

.site-header__link,
.site-header__btn {
	display: block;
	height: 40px;
	line-height: 40px;
	border-left: 1px solid #fff;
}

.site-header__link {
	position: relative;
}

.site-header__link:hover {
	background-color: #07a959;
	text-decoration: none;
	color: #fff;
}

.site-header__link--active {
	padding: 0 6px;
}

.site-header__link--active::after {
	content: '';
	position: absolute;
	left: 50%;
	top: 100%;
	width: 10px;
	height: 5px;
	margin-left: -5px;
	margin-top: -5px;
	border-bottom: 5px solid #fff;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
}

.site-header__link--green {
	font-family: 'Droid Arabic Kufi';
}

.site-header__link--green,
.site-header__link--green:hover {
	color: #fff;
	background-color: #07a959;
}

/*==========
	Three bars
==========*/
.navbar-toggle {
	margin: 0;
	padding: 0;
	width: 40px;
	height: 100%;
	background-color: #b80304;
	border: none;
}

.navbar-toggle:hover {
	background-color: #BD0B0B;
}

.icon-bar {
	background-color: #fff;
	margin: auto;
}

/*==========
	Search Btn
==========*/
.search-btn {
	background-color: #07a959;
	color: #fff;
	padding: 0;
	width: 40px;
	height: 100%;
	vertical-align: top;
	font-size: 2rem;
}

.search-box__form {
	position: relative;
	float: right;
	max-width: 288px;
	width: 100%;	
}

.search-btn:hover {
	background-color: #0F7D0F;
}

.search-btn:hover span,
.search-btn:focus {
	color: #fff;
}

.search-btn span {
	top: 0;
	width: 100%;
	height: 100%;
}

.search-btn span::before {
	position: absolute;
	left: 0;
	top: 50%;
	-webkit-transform: translateY(-50%);
	    -ms-transform: translateY(-50%);
	        transform: translateY(-50%);
	width: 100%;
	text-align: center;
}

.search-box {
	width: 100%;
	z-index: 1000;
	display: none;
}

.search-box--active {
	display: block;
}

@media all and (max-width: 767px) {
	.site-header {
		padding-bottom: 0;
	}

	.site-header__links {
		margin-bottom: 10px;
	}

	.site-header__logo-wrapper {
		display: inline-block;
		float: none;
	}

	.logo--second {
		margin-left: auto;
	}

	/*========
		Site nav
	========*/
	.site-nav,
	.mobile-site-nav,
	.mobile-site-nav__sub-list {
		display: none;
	}
	
	.mobile-site-nav--active {
		display: block;
	}

	.mobile-site-nav {
		position: absolute;
		right: 0;
		top: 40px;
		width: 100%;
		background-color: #b80304;
		color: #fff;
		padding: 10px;
		border-top: 1px solid  #fff;
	}

	.mobile-site-nav__sub-list--active {
		display: block;
		margin-bottom: 30px;
	}

	.mobile-site-nav__link {
		display: block;
		padding: 5px 0;
		line-height: 1;
		color: #fff;
	}

	.mobile-site-nav__link:hover {
		background-color: #fff;
		color: #333;
		text-decoration: none;
	}
}

/* Tablet plus */
@media all and (min-width: 768px) {
	.site-header {
		padding-bottom: 60px;
	}

	.site-header__link--active {
		padding: 0 25px;
	}

	.logo--second {
		margin: auto;
	}

	.logo--third {
		margin: auto;
	}

	/*========
		Site nav
	========*/
	.site-nav__tab .site-nav__tab-title,
	.site-nav__list-item,
	.site-nav__sub-list-item {
		cursor: pointer;
	}

	.site-nav__tabs {
		border: none;

	}

	.site-nav__tab:hover .site-nav__list,
	.site-nav__list-item:hover .site-nav__sub-list {
		display: block;
	}

	.site-nav__tab {
		border-right: 1px solid #fff;
		border-bottom: 1px solid #fff;
		float: left;
	}

	.site-nav__tab,
	.site-nav__tab .site-nav__tab-title {
		height: 60px;
		line-height: 60px;
		margin: 0;
	}

	.site-nav__tab:not(.site-nav__tab--active) {
		background-color: #eee;
	}

	.site-nav__tab--active,
	.site-nav__tab:hover {
		background-color: #b80304;
	}

	.site-nav__tab--active .site-nav__tab-title,
	.site-nav__tab:hover .site-nav__tab-title {
		color: #fff;
	}

	.site-nav__sub-list,
	.site-nav__list {
		display: none;
		position: absolute;
		top: auto;
		z-index: 1000;
	}

	.site-nav__list {
		background-color: #b80304;
		color: #fff;
		left: 15px;
		right: 15px;
	}

	.site-nav__list--active {
		display: block;
	}

	.site-nav__sub-list {
		width: 100%;
		color: #333;
		padding: 20px 0;
		left: 0;
	}

	.site-nav__list-item {
		float: left;
	}

	.site-nav__list-item:hover {
		color: #333;
	}

	.site-nav__list-item:hover,
	.site-nav__sub-list {
		background-color: rgba(255, 255, 255, .8);
	}

	.site-nav__list-item p {
		margin-bottom: 0;
	}

	.site-nav__list-item,
	.site-nav__tab {
		padding: 0 20px;
	}

	.site-nav__sub-list-item {
		line-height: 1;
	}

	.site-nav__sub-list-link {
		display: block;
		padding: 7.5px 20px;
	}

}

/* upto small desktops */
@media all and (max-width: 1199px) {
	.search-box {
		position: absolute;
		right: 15px;
		top: 40px;
		max-width: 288px;
		border-top: 1px solid #fff;
	}

	.search-box .search-box__search-field {
		max-width: 100%;
	}

	.search-box__submit {
		top: 0;
		right: 0;
	}

	.search-box__submit::before {
		height: 46px;
		line-height: 46px;
	}

	.search-box .form-group {
		margin-bottom: 0;
	}
}

/* Large Desktops */
@media all and (min-width: 1200px) {
	.site-header__logo-wrapper {
		padding-top: 30px;
		border-right: 1px solid #eee;
	}

	.site-header__logo-wrapper:last-of-type {
		border: none;
	}

	.search-box {
		display: block;
		margin-top: 105px;
	}
}