/*=================
	red: #b80304;
	dark red: #BD0B0B;
	green: #07a959;
	dark green: #0F7D0F;
	blue: #1e4582;
	white: #fff;
	light gray: #ddd;
	darker gray: #aaa;
	dark gray: #333;
=================*/

* {
	border-radius: 0 !important;
}

body {
	font-family: 'Raleway', sans-serif;
}

ul {
	list-style-type: none;
	padding: 0;
	margin-bottom: 0;
}

a,
a:hover {
	color: #666;
}

.fa:hover {
	text-decoration: none;
	cursor: pointer;
}

.has-padding-bottom {
	padding-bottom: 30px;
}

.has-padding {
	padding-bottom: 30px;
	padding-top: 30px;
}

.bg-gray {
	background-color: #ddd;
}

.bg-green {
	background-color: #07a959;
}

/*
Uncomment to conditionally load arabic font in head.php
font-family: 'Droid Arabic Kufi';
font-weight: 400;
font-weight: 700;
*/