/*=================
	red: #b80304;
	dark red: #BD0B0B;
	green: #07a959;
	dark green: #0F7D0F;
	blue: #1e4582;
	white: #fff;
	light gray: #eee;
	darker gray: #ddd;
	dark gray: #333;
=================*/

* {
	-webkit-border-radius: 0 !important;
	        border-radius: 0 !important;
}

body {
	font-family: 'Raleway', sans-serif;
	color: #666;
}

h1, h2, h3, h4, h5, h6 {
	color: #333;
}

a,
a:hover {
	color: #666;
}

ul {
	list-style-type: none;
	padding: 0;
	margin-bottom: 0;
}

a:focus {
	text-decoration: none;
}

.fa:hover {
	text-decoration: none;
	cursor: pointer;
}

.padding-bottom {
	padding-bottom: 30px;
}

.padding-top-bottom {
	padding-bottom: 30px;
	padding-top: 30px;
}

.bg-light-gray {
	background-color: #eee;
}

.bg-green {
	background-color: #07a959;
}

.bg-blue {
	background-color: #1e4582;
}

.text-red {
	color: #b80304;
}

.text-darker-gray {
	color: #ddd;
}

.text-gray {
	color: #666;
}

.text-white {
	color: #fff;
}

.text-blue {
	color: #1e4582;
}

.text-green {
	color: #07a959;
}

.panel-heading {
	margin: 0;
}

.icon {
	margin-right: 10px;
	display: inline-block;
	vertical-align: bottom;
	background-repeat: no-repeat;
}

.icon--highlight {
	background-image: url(../../images/icon-highlights.png);
	width: 46px;
	height: 46px;
}

.icon--new {
	background-image: url(../../images/icon-new.png);
	width: 46px;
	height: 46px;
}

.icon--download {
	background-image: url(../../images/icon-download.png);
	width: 17px;
	height: 21px;
}

.icon--cloud {
	background-image: url(../../images/icon-cloud.png);
	width: 43px;
	height: 31px;
}