.slider {
	height: 570px;
	border-bottom: 1px solid #fff;
}

.rsDefault .rsArrowIcn {
	background-image: url(../../images/slider-arrows.png);
	width: 28px;
	height: 50px;
	margin-left: -14px;
	margin-top: -25px;
}

.rsDefault .rsArrowIcn,
.rsDefault .rsArrowIcn:hover {
	background-color: transparent;
}

.rsDefault.rsHor .rsArrowRight .rsArrowIcn {
	background-position: -28px 0;
}

.rsDefault.rsHor .rsArrowLeft .rsArrowIcn {
	background-position: 0 0;
}

/*==============
 Mobile phones
==============*/
@media all and (max-width: 767px) {
	.slider {
		height: 300px;
	}
}