/*=====
	boxes
=====*/
.box {
	display: block;
	border: none;
	min-height: 240px;
}

.box:hover {
	text-decoration: none;
}

.box .panel-heading {
	color: #b80304;
	margin: 0;
}

.box .panel-body {
	padding: 0;
	position: relative;
	overflow: hidden;
	background-size: cover;
	background-position: center;
	min-height: 200px;
}

.box__overlay {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	-webkit-transform: translateY(100%);
	    -ms-transform: translateY(100%);
	        transform: translateY(100%);
	-webkit-transition: -webkit-transform .3s;
	transition: -webkit-transform .3s;
	transition: transform .3s;
	transition: transform .3s, -webkit-transform .3s;
	background-color: rgba(255, 255, 255, .8);
	padding: 20px 10px;
}

.box:hover .panel-heading {
	background-color: #b80304;
	color: #fff;
}

.box:hover .box__overlay {
	-webkit-transform: translateY(0);
	    -ms-transform: translateY(0);
	        transform: translateY(0);
}

/*========
	Articles
========*/
.article {
	display: block;
	border-bottom: 1px solid #aaa;
	margin-bottom: 0;
}

.article:hover {
	text-decoration: none;
	background-color: #eee;
}

.article__body {
	padding-top: 0;
	padding-left: 0;
}

.article__title {
	padding: 0;
}

.title-icon {
	margin-right: 10px;
	width: 46px;
	height: 46px;
	display: inline-block;
	vertical-align: bottom;
}

.title-icon--highlight {
	background: url(../../images/highlights.png);
}

.title-icon--new {
	background: url(../../images/new.png);
}

.articles--highlights .article__title,
.articles--highlights .articles__title {
	color: #07a959;
}

.articles--new .article__title,
.articles--new .articles__title {
	color: #1e4582;
}

.slider {
	height: 570px;
	border-bottom: 1px solid #fff;
}

.rsDefault .rsArrowIcn {
	background-image: url(../../images/slider-arrows.png);
	width: 28px;
	height: 50px;
	margin-left: -14px;
	margin-top: -25px;
}

.rsDefault .rsArrowIcn,
.rsDefault .rsArrowIcn:hover {
	background-color: transparent;
}

.rsDefault.rsHor .rsArrowRight .rsArrowIcn {
	background-position: -28px 0;
}

.rsDefault.rsHor .rsArrowLeft .rsArrowIcn {
	background-position: 0 0;
}

/*==============
 Mobile phones
==============*/
@media all and (max-width: 767px) {
	.box {
		max-width: 320px;
		margin-left: auto;
		margin-right: auto;
	}

	.slider {
		height: 300px;
	}
}

/*==============
 Tablets
==============*/
@media all and (min-width: 768px) and (max-width: 992px) {
	
}

/*==============
 Laptops
==============*/
@media all and (min-width: 992px) and (max-width: 1199px) {

}

/*==============
	Large desktops
==============*/
@media all and (min-width: 1200px) {
	
}